# Mac Files
.DS_Store

# Bootstrap
Symfony/app/bootstrap*

# Symfony directories
Symfony/vendor/*
Symfony/logs/*
Symfony/cache/*
Symfony/web/uploads/*
Symfony/web/bundles/*
Symfony/app/cache/*
Symfony/app/logs/*

#NodeJS Files
src/NodeJS/node_modules/*
NodeJS/node_modules/*

#Config Files
Symfony/app/config/parameters.yml
