<div>
    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit" autocomplete="off">
        <div style="padding: 20px">
        <legend>Edit your profile</legend>
        {{ form_widget(form) }}
        </div>
        <input type="submit" class="btn btn-large btn-success" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </form>
</div>