{% extends '::layout.html.twig' %}

{% block content %}
<style>
        textarea
        {
            width: 500px;
            height: 100px;
        }
</style>
<div style="text-align: center">
    <form method="post" action="{{path('dtb_bd_candidate_scenarist', {'id': bd.id})}}">
        <legend>Rejoindre "{{bd.title}}" en tant que <b>Scénariste</b></legend>
        {{form_widget(form)}}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>
{% endblock %}