#writingHelper {
	width:600px;
	display: none;
}

	#writingHelper #writingHelperCategories {
		list-style: none;
		float: left;
		width : 150px;
		height: 300px;
	}

	#writingHelper #writingHelperMain {
		float: left;
		width : 350px;
		height: 300px;
	}

		#writingHelper #writingHelperMain .writingHelperMainContent {
			display: none;
		}
		
	#writingHelper dd{
		margin-bottom: 10px;
	}
			
	#writingHelper .writingHelperButton {
		float: right;
		margin-right: 25px;
		margin-top: 50px;
	}

#historyPreview {
	width:600px;
	display: none;
	min-height: 400px;
}	

	#historyPreview  h3{
		text-align: center;
		margin-bottom: 20px;
	}	
	
	#historyPreview #historyPreviewAccept{
		margin-left: 139px;
		margin-right: 150px;
	}
	
	#historyPreview .btn{
		margin-top: 30px;
	}
	
.ckeditor {
	width: 600px;
}

.cke_contents {
height: 450px !important;
}

#editorDiv {
    float: left;
    height: 500px;
    padding-bottom: 35px;
    padding-left: 15px;
    padding-right: 20px;
    width: 670px;
}

#isReadOnlySpan {
	color: red;
	display: none;
}

#finishEditingButton {
	display: none;
}