extends layout

block content
	h1= title
	p Bienvenue dans la partie collaborative de DansTaBulle !
	p
		a(href="/draw") Cliquez ici pour le dessin
	p
		a(href="/scenario") Cliquez ici pour le scenario