<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>DansTaBulle</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="stylesheets/danstabulle.css" rel="stylesheet" media="screen">
	<link href="stylesheets/scenario.css" rel="stylesheet" >
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
   	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/scenario.js"></script>
	<!--<script type="text/javascript" src="/tinymce/tinymce.min.js"></script>-->
		<script type="text/javascript" src="/tiny_mce/tiny_mce.js"></script>

	<script type="text/javascript">

	</script>
    </head>
    <body>
      <div class="container ombre blanc">

        <div class="masthead">
        <div style="text-align: center; margin-bottom: 10px">
          <img src="img/logoPlicMini.png">
        </div>
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <ul class="nav">
                  <li><a href="index.html">Accueil</a></li>
                 	<li><a href="explorer.html">Explorer</a></li>
					<li><a href="#">Contribuer</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Shop</a></li>
                  <li><div class="input-append searchform">
				<input class="span2 recherche" id="appendedInput search-query" type="text" data-provide="typeahead" data-items="1">
									<span class="add-on"><i class="icon-search"></i></span>
								</div>
                  </li>
                </ul>
              </div>
            </div>
          </div><!-- /.navbar -->
        </div>

		<div>
			<ul class="breadcrumb">
				<li><a href="#"><i class="icon-home"></i></a> <span class="divider">/</span></li>
				<li class="active">Scénario</li>
				<li class="pull-right">
					<a href="inscription.html">Inscription</a>
				</li>
				<li class="dropdown pull-right">
					<a class="dropdown-toggle" href="#" data-toggle="dropdown">Connexion<strong class="caret"></strong>  <div class="btn-group">
					</div> </a>
					<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
						<form class="form-signin">
							<h4 class="form-signin-heading">Connexion</h4>
							<input type="text" class="input-medium" placeholder="Email">
							<input type="password" class="input-medium" placeholder="Mot de Passe">
							<label class="checkbox">
								<input type="checkbox" value="remember-me"> Rester connecté
							</label>
								<label>
									<inputvalue="passordforget"><a href="password.html">Mot de passe oublié</a>
								</label>
							<button class="btn btn-small btn-primary" type="submit">Connexion</button>
						</form>
					</div>
				</li>

			</ul>
		</div>
		
		<!-- Scenario edition zone -->
		
		<section id="Contenu" class="span12">
        
			<h1>Scénario</h1>
		
			<hr>
	
			<div id="editorDiv">
				<textarea id="test" class="mceEditor"></textarea>
			</div>
			
			<div id="chatDiv">

				<div id="connectedUsers">
				
					<h2 class="nav-header">Utilisateurs en ligne</h2>
					
					<ul id="connectedUsersList" class="nav nav-list">			
					</ul>
					
				</div>
			
				<ul id="chatMessages">
				</ul>
				
				<form id="chatSendMessageForm">
					<textarea id="chatSendMessageArea" maxlength = '1000'></textarea>
					<input type="button" id="chatSendMessageButton" value="Envoyer"/>
				</form>
			</div>
		
			<!--<span id="isReadOnlySpan">Un autre utilisateur edite actuellement le scenario.</span>
			<button id="finishEditingButton">Enregistrer</button>
		
			<h2>Et la recuperation du texte saisi :</h2>
			<span id="result">-</div>-->
			
			
		</section>
		
		</div>
		
		
 <div class="container ombre footer">
            <center>
              <footer>
              <p class="muted credit"><a href="#">DansTaBulle</a> est un projet de quatrième année réalisé à l'<a href="http://www.epita.fr">EPITA</a>, en <a href="http://mti.epita.fr">MTI</a></p>
              <p class="muted credit">N'hésitez pas à nous <a>contacter</a>, ou bien à visiter la <a href=faq.html>FAQ</a><p>
              </footer>
            </center>
		</div>
      <script src="javascripts/bootstrap.min.js"></script>
	  <script src="javascripts/danstabulle.js"></script>
    </body>
  </html>
