<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
		<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
   	    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/javascripts/javascript.js"></script>
	</head>
	<body>
	<h1>Suivi 3 - Editeur de texte</h1>
		<h2>Voici l'instance de CkEditor :</h2>
		
		<div id="editorDiv">
			<textarea class="ckeditor" name="editor"></textarea>
		</div>
		<!--<span id="isReadOnlySpan">Un autre utilisateur edite actuellement le scenario.</span>
		<button id="finishEditingButton">Enregistrer</button>
		<h2>Et la recuperation du texte saisi :</h2>
		<span id="result">-</div>-->
	</body>
</html>