{% extends '::layout.html.twig' %}

{% block content %}
<section id="Contenu" class="jumbotron masthead" style="background-image: url('{{ asset('img/head.png') }}'); padding: 60px; margin-top: 30px; margin-bottom: 30px;">

    <h1>Créez votre BD</h1>
    <p class="lead"> Avec DansTaBulle, choisissez de rejoindre un projet existant, ou bien
        commencez votre BD à partir de rien<p>
</section>
<div style="background-color: #e7e7e7; padding: 60px;">
    <div class="span4"><img src="{{asset('img/bd_home.png')}}" /></div>
    <div class="span7" style="margin-top: 120px; margin-left: 50px;">
        <p class="lead" style="font-size: 24px;line-height: 1.25;">
            Créez une bande dessinée et invitez des amis à vous rejoindre.
        </p>
    </div>
    <div style="clear: both; height: 1px;"></div>
</div>
<div style="background-color: #FFF; padding: 60px;">
    <div class="span7" style="margin-top: 120px;">
        <p class="lead" style="font-size: 24px;line-height: 1.25;">
            Ecrivez un scénario d'une bande dessinée à plusieurs collaborativement et en temps réel.
        </p>
    </div>
    <div class="span4"><img src="{{asset('img/write_home.png')}}" /></div>
    <div style="clear: both; height: 1px;"></div>
</div>
<div style="background-color: #e7e7e7; padding: 60px;">
    <div class="span4"><img src="{{asset('img/draw_home.png')}}" /></div>
    <div class="span7" style="margin-top: 120px; margin-left: 50px;">
        <p class="lead" style="font-size: 24px;line-height: 1.25;">
            Dessinez les vignettes d'une bande dessinée directement depuis le site, et ceci à plusieurs utlisateurs en même temps.
        </p>
    </div>
    <div style="clear: both; height: 1px;"></div>
</div>
<div style="text-align: center; padding: 60px">
    <a class="btn btn-large btn-success" id="Start">Commencez dès maintenant sur DansTaBule</a>
</div>
<div style="height: 50px" />
{% endblock %}